body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.showing-info {
  text-align: center;
  font-weight: normal;
}

.content {
  text-align: center;
}

.camper-logo {
  width: 30px;
  height: 30px;

  border-radius: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
}